<div class="row">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <h3><%= @volunteer.name %></h3>
    <h3>current project- <em><%= @project.name %></em></h3>
    <h3>hours contributed- <%= @volunteer.hours %></h3>


    <form action="/volunteers/<%= @volunteer.id %>/edit" method="post">
      <input name="_method" type="hidden" value="patch">
      <label for="name">update name</label>
      <br>
      <input type="text" name="name" value="">
      <br><br>
      <button class="btn btn-success" type="submit">edit name</button>
    </form>

    <br>

    <form action="/volunteers/<%= @volunteer.id %>/add_hours" method="post">
      <input name="_method" type="hidden" value="patch">
      <label for="name">update hours of contribution</label>
      <br>
      <input type="number" name="hours" value="">
      <br><br>
      <button class="btn btn-success" type="submit">add hours</button>
    </form>

    <br>

    <form action="/">
      <button type="submit" class="btn btn-primary" name="button">home</button>
    </form>

    <br>

    <form action="/projects/<%= @project.id %>">
      <button type="submit" class="btn btn-info" name="button">view project</button>
    </form>

    <br>

    <form action="/volunteers/<%= @volunteer.id %>/delete" method="post">
      <input name="_method" type="hidden" value="delete">
      <button class="btn btn-danger" type="submit">remove volunteer</button>
    </form>
  </div>
</div>
